.prev_bio{
    width: calc((100vw - 20px) / 2 - 55px);
    border: 1px solid black;
    justify-content: start;
    align-items: flex-start;
    padding: 10px;

    
}

.prev_video{
    /*width: calc((100vw - 20px) / 2 );*/
    border: 1px solid black;
}

.prev_video video {
    width: 100%;
    height: 100%;
}

.prev_video video {
    width: 100%;
}

.prev_main {
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    //border: 1px solid red;
    
}

.prev_line_hide{
    visibility: hidden;
}

.border_l {
    border: 1px solid blue;
}

.border_r {
    //border: 1px solid red;
}

.prev_block{
    /*min-width: 10%;*/
    margin-top: 5px;
    margin-left: 10px;
    box-shadow: 0 0 3px rgb(39, 39, 39);
    background-color: #bbc6ca;
    min-width: 48%;
    min-height: 100px;
    display: none;
}

.prev_block:hover{
    background-color: #868d8f;
}

@keyframes prev_act {
    0%{
        left: -100px;
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        left: 0px;
        opacity: 1;
    }
}

@keyframes prev_deact {
    0%{
        left: 0px;
    }
    50%{

    }
    100%{
        left: 100px;
    }
}

.prev_block_deact{
    animation-name: prev_deact;
    animation-duration: 0.5s;
}

.prev_block_active {
    display: flex;
    position: relative;
    animation-name: prev_act;
    animation-duration: 0.5s;
}

.prev_bio label {
    margin-top: 10px;
}