.table_body {
    border: 1px solid black;
    margin-top: 40px;
    border-collapse: collapse;
    
}

/*.table_tr {
    animation-name: tr_anim;
    animation-duration: 1s;
}*/
.table_tr2{
    border: 1px solid black;
}

.table_tr{
    max-height: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height 0.8s, padding 0.8s;
    display: none;

}

.table_tr_active{
    max-height: 200px;
    display: table-row;
    transition: max-height 0.8s, padding 0.8s;
}

.table_tr td {
    border-bottom: 1px solid green;
}

.table_tr_hide {
    display: none;
}

.table_td1{
    width: 8%;
}

.table_td5{
    width: 10%;
}

@keyframes table_act {
    0%{
        left: -100px;
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        left: 0px;
        opacity: 1;
    }
}

@keyframes table_deact {
    0%{
        left: 0px;
    }
    50%{

    }
    100%{
        left: 100px;
    }
}

.table_img{
    width: 60px;
    height: 60px;

    border: 1px solid black;
    background-color: #f8f8f8;
    border-radius: 50%;
}

.table_block{
    //height: 50px;
    border: 1px solid black;
    max-height: 100px;
    text-align: center;
    display: none;
    margin-top: 5px;
    box-shadow: 0 0 3px rgb(39, 39, 39);
    background-color: #bbc6ca;
}

.table_block:hover{
    background-color: #8f9699;
}

.table_block_deact{
    animation-name: table_deact;
    animation-duration: 0.5s;
}

.table_block_active {
    display: flex;
    position: relative;
    animation-name: table_act;
    animation-duration: 0.5s;
}

.tb_cell1{
    width: 15%;
}

.tb_cell2{
    width: 35%;
}

.tb_cell3{
    width: 10%;
}
.tb_cell4{
    width: 30%;
}

.tb_cell5{
    width: 10%;
    font-size: 30px;
}