.sort_buttons{
    /*width: 350px;
    height: 150px;*/
    width: 350px;
    justify-content: start;
    align-items: flex-start;
    border: 1px solid black
}

.sort_buttons label {
    padding-bottom: 10px;
}

.sort_buttons_fl {
    width: 33%;
}

.sort_buttons_sl {
    width: 50%;
}