.App {
    text-align: center;
    background-color: rgb(18, 29, 49);
    min-height: 100vh;

    color: #bbb9b9;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 5px;
    padding: 10px;
    min-width: 20px;

    background-color: rgb(13, 84, 117);
    border: 1px solid #123545;
    box-shadow: 0 0 3px rgb(10, 55, 92);
    transition: all 0.5s;

    border-radius: 10px;

    color: white;
    font-size: 15px;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(13, 111, 156);
}

.button_red {
    background-color: rgb(116, 11, 11);
    border: 1px solid #500e0e;
    box-shadow: 0 0 3px rgb(99, 7, 7);
    transition: all 0.5s;
}

.button_red:hover {
    background-color: rgb(167, 36, 36);
}

.button_green {
    background-color: rgb(29, 109, 9);
    border: 1px solid #184b12;
    box-shadow: 0 0 3px rgb(11, 85, 23);
    transition: all 0.5s;
}

.button_green:hover {
    background-color: rgb(27, 139, 36);
}

.button_yellow {
    background-color: rgb(110, 109, 19);
    border: 1px solid #474b12;
    box-shadow: 0 0 3px rgb(71, 85, 11);
    transition: all 0.5s;
}

.button_yellow:hover {
    background-color: rgb(155, 153, 35);
}

.button_yellow.active {
    background-color: rgb(180, 178, 16);
}

.button_gray {
    background-color: rgb(78, 78, 78);
}

.button_gray:hover {
    background-color: rgb(78, 78, 78);
}
